/* amatic-sc-regular - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amatic-sc-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Amatic SC'), local('AmaticSC-Regular'),
       url('fonts/amatic-sc-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/amatic-sc-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/amatic-sc-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/amatic-sc-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/amatic-sc-v8-latin-regular.svg#AmaticSC') format('svg'); /* Legacy iOS */
}
/* amatic-sc-700 - latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/amatic-sc-v8-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Amatic SC Bold'), local('AmaticSC-Bold'),
       url('fonts/amatic-sc-v8-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/amatic-sc-v8-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/amatic-sc-v8-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/amatic-sc-v8-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/amatic-sc-v8-latin-700.svg#AmaticSC') format('svg'); /* Legacy iOS */
}
/* lora-regular - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/lora-v9-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lora'), local('Lora-Regular'),
       url('fonts/lora-v9-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v9-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v9-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v9-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lora-v9-latin-regular.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/lora-v9-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Lora Italic'), local('Lora-Italic'),
       url('fonts/lora-v9-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v9-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v9-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v9-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lora-v9-latin-italic.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-700 - latin */
@font-face {
  font-family: 'Lora';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/lora-v9-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Lora Bold'), local('Lora-Bold'),
       url('fonts/lora-v9-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v9-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v9-latin-700.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v9-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lora-v9-latin-700.svg#Lora') format('svg'); /* Legacy iOS */
}
/* lora-700italic - latin */
@font-face {
  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/lora-v9-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Lora Bold Italic'), local('Lora-BoldItalic'),
       url('fonts/lora-v9-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/lora-v9-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/lora-v9-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('fonts/lora-v9-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('fonts/lora-v9-latin-700italic.svg#Lora') format('svg'); /* Legacy iOS */
}

.remark-notes {
  font-size: 32px;
}

.remark-slide-content {
  background-color: #272D4D;
  color: #FFB350;
  font-family: 'Lora', serif;
  font-size: 32px;
}

.remark-slide-content strong, .remark-slide-content em, .remark-slide-content del {
  color: #FF6A5A;
}

.benefits {
  background-color: #B83564;
  color: #FFB350;
}

.difficulties {
  background-color: #83B8AA;
  color: #B83564;
}

.anti-patterns {
  background-color: #FFB350;
  color: #272D4D;
}

.quotes {
  background-color: #FF6A5A;
  color: #272D4D;
}

.quotes strong, .quotes em, .quotes del {
  color: #FFB350;
}

.quotes small {
  color: #83B8AA;
  font-size: 18px;
}

.remark-slide-content h1, .remark-slide-content h2, .remark-slide-content h3 {
  font-family: 'Amatic SC', cursive;
  margin: 15px 0px;
}

.remark-slide-content h1 {
  font-size: 72px;
  font-weight: bold;
}

.remark-slide-content h2 {
  font-size: 48px;
}

.remark-slide-content h3 {
  font-size: 48px;
}

.remark-slide-content ul, .remark-slide-content p {
  margin: 15px 0px;
}

.twitter {
  position: absolute;
  bottom: 12px;
  left: 20px;
  opacity: 0.5;
}

.teams h1, .teams .plus {
  color: white;
  font-weight: bold;
}

.float-right {
  float: right;
}
